<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- load angular.js -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
<body>

  <div ng-app="sfdcsurveyapp" ng-controller="myCtrl">

	<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">World Domination Corp. Survey App.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <span style="color: white">Logged in as {{username}}</span>
            <a class="btn btn-warning" href="/logout" role="button">Log out</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Get started!</h1>
        <p>Eliciting feedback from customers about a particular product is easy. You need a have a survey configured 
        (see below) and then build a list of recipients. To build the list of recipients click the button below to search for a product from Salesforce. Once you've selected a product, you select the opportunity contacts to reach out to.</p>
        <p><a class="btn btn-primary btn-lg pull-right" href="/products" role="button">Build list of recipients &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- list existing surveys -->
      <h2 class="sub-header">Surveys</h2>
        <p>
        <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button> Below are the surveys you've already created.
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Created On</th>
                <th>Created By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1001</td>
                <td>Product Survey for 'Product Alpha' Q3-2016</td>
                <td>Open for Edits</td>
                <td>Mikkel Flindt Heisterberg</td>
                <td>4 July 2016</td>
              </tr>
              <tr>
                <td>1002</td>
                <td>Product Survey for 'Product Delta' May 2016</td>
                <td>Active</td>
                <td>Mikkel Flindt Heisterberg</td>
                <td>29 June 2016</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- list existing recipient lists -->
      <h2 class="sub-header">Recipient Lists</h2>
        <p>
          <a href="/products" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a> Below are your recipient lists you may edit.
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>No. of recipients</th>
                <th>Product (code/name)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>3221</td>
                <td>Q3 'Product Delta' recipients</td>
                <td>121</td>
                <td>D400 / Product Delta</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- list existing email templates -->
      <h2 class="sub-header">Email Templates</h2>
        <p>
          <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button> Below are the e-mail templates available to you.
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Subject</th>
                <th>From</th>
                <th>Body</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1001</td>
                <td>Default Template</td>
                <td>products@eaglesystems.com</td>
                <td>Dear $$FirstName$$ $$LastName$$...</td>
              </tr>
            </tbody>
          </table>
        </div>

      <hr>

      <footer>
        <p>&copy; 2016 World Domination Corp.</p>
      </footer>
    </div> <!-- /container -->

    </div>

<script type="text/javascript">
// define app
var app = angular.module('sfdcsurveyapp', []);

// define controller
app.controller('myCtrl', function($scope, $http) {
  $http.get("/api/v1/user").then(function(response) {
    $scope.username = response.data.displayName;
  });
});
</script>

</body>
</html>

