<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- load angular.js -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- date picker -->
    <script src="/javascripts/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker3.standalone.css">
	</head>
<body>

  <div ng-app="sfdcsurveyapp" ng-controller="myCtrl">

	<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">World Domination Corp. Survey App.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <span style="color: white">Logged in as {{username}}</span>
            <a class="btn btn-warning" href="/logout" role="button">Log out</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <p>
        <button class="btn btn-danger" ng-click="back()">Back</button>
        <button class="btn btn-success pull-right" ng-click="next()" ng-disabled="selection.length == 0">Next</button>
      </p>
    </div>

    <div class="container">
      Selected product: {{selectedProduct.ProductCode}} - {{selectedProduct.Name}}
      <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-md form-control" name="start" />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-md form-control" name="end" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search()">Search</button>
        </span>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="1" ng-model="uniqueOnly" ng-click="toggleUniqueContacts($event)">Show unique contacts only</label>
      </div>

      <table class="table" ng-hide="!filteredResults">
        <thead>
          <th><input type="checkbox" value="all" ng-click="selectAll($event)" 
            ng-checked="allChecked" /></th>
          <th width="20%">Name</th>
          <th>Email</th>
          <th width="20%">Account</th>
          <th width="20%">Opportunity</th>
        </thead>
        <tr ng-repeat="result in filteredResults | orderBy: ['Contact.FirstName','Contact.LastName']">
          <td><input type="checkbox" value="{{result.ContactId}}" 
            ng-click="toggleSelection(result.ContactId)"
            ng-checked="selection.indexOf(result.ContactId) > -1" /></td>
          <td width="20%">{{result.Contact.FirstName}} {{result.Contact.LastName}}</td>
          <td>{{result.Contact.Email}}</td>
          <td>{{result.Contact.Account.Name}}</td>
          <td>{{result.Opportunity.Name}}</td>
        </tr>
      </table>

      <hr>

      <footer>
        <p>&copy; 2016 World Domination Corp.</p>
      </footer>
    </div> <!-- /container -->

    </div>

<script type="text/javascript">
// define app
var app = angular.module('sfdcsurveyapp', []);

// define controller
app.controller('myCtrl', function($scope, $http, $window) {
  $scope.selection = [];

  $scope.uniqueOnly = false;

  $http.get("/api/v1/user").then(function(response) {
    $scope.username = response.data.displayName;
    $scope.selectedProduct = response.data.selectedProduct;
  });

  $scope.selectAll = function(event) {
    $scope.selection = [];
    if (event.target.checked) {
      $scope.results.forEach(function(p) {
        $scope.selection.push(p.ContactId);
      });
    }
    $scope.allChecked = event.target.checked;
  }

  $scope.toggleSelection = function(contactId) {
    var idx = $scope.selection.indexOf(contactId);
    if (idx < 0) {
      $scope.selection.push(contactId);
    } else {
      $scope.selection.splice(idx, 1);
      $scope.allChecked = false;
    }
  }

  $scope.filterResults = function() {
    if (!$scope.uniqueOnly) {
      $scope.filteredResults = $scope.results;
    } else {
      var filteredResults = [];
      var uniqueIds = [];
      for (var idx in $scope.results) {
        var r = $scope.results[idx];
        if (uniqueIds.indexOf(r.ContactId) < 0) {
          filteredResults.push(r);
          uniqueIds.push(r.ContactId);
        }
      }
      $scope.filteredResults = filteredResults;
    }
  }

  $scope.search = function() {
    if (!$scope.startDate || !$scope.endDate) return;
    
    // ask api to search for contacts
    $http.post("/api/v1/contactsearch", {
      "fromDate": $.sfdcFormatDate($scope.startDate),
      "toDate": $.sfdcFormatDate($scope.endDate)
    }).then(function(response) {
      $scope.results = response.data;
      $scope.filterResults();
    });
  }

  $scope.toggleUniqueContacts = function(event) {
    $scope.uniqueOnly = event.target.checked;
    $scope.filterResults();
  }

  $scope.next = function() {
  	// sanity
    if (!$scope.filteredResults) return;

    // user is clicking next - post contacts to API
    $http.post("/api/v1/contactselect", $scope.filteredResults).then(function(response) {
      $window.location.href = "/listsave";
    });
  }

  $scope.back = function() {
    $window.location.href = "/products";
  }

  $('.input-daterange').datepicker({
    format: 'dd-mm-yyyy',
    autoclose: true
  }).on("changeDate", function(event) {
    if (event.target.name == "start") $scope.startDate = event.date;
    if (event.target.name == "end") $scope.endDate = event.date;
  });
});

$.sfdcFormatDate = function(dateObject) {
    var d = new Date(dateObject);
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
    if (day < 10) {
        day = "0" + day;
    }
    if (month < 10) {
        month = "0" + month;
    }
    var date = year+"-"+month+"-"+day;

    return date;
};

</script>

</body>
</html>

